
{{#each this}}
<a href="{{largeImageURL}}">
    <div class="photo-card">
        <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
        <div class="info">
            <p class="info-item">
                <b>Likes</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" href="./src/images/icons.svg#icon-heart"></use>
                </svg>
                {{likes}}
            </p>
            <p class="info-item">
                <b>Views</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" href="../src/images/icons.svg#icon-eye"></use>
                </svg>
                {{views}}
            </p>
            <p class="info-item">
                <b>Comments</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" href="../images/icons.svg#icon-bubbles"></use>
                </svg>
                {{comments}}
            </p>
            <p class="info-item">
                <b>Downloads</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" href="../../src/images/icons.svg#icon-download"></use>
                </svg>
                {{downloads}}
            </p>
        </div>
    </div>
</a>
{{/each}}