{{#each this}}
<a href="{{largeImageURL}}">
    <div class="photo-card">
        <div class="img-wrapper">
        <img class="photo-card__img" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
        </div>
        <div class="info">
            <p class="info-item">
                <b>Likes</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" xlink:href="#icon-heart"></use>
                </svg>
                {{likes}}
            </p>
            <p class="info-item">
                <b>Views</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" xlink:href="#icon-eye"></use>
                </svg>
                {{views}}
            </p>
            <p class="info-item">
                <b>Comments</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" xlink:href="#icon-bubbles"></use>
                </svg>
                {{comments}}
            </p>
            <p class="info-item">
                <b>Downloads</b>
                <svg class="gallery-icon" width="16px" height="16px">
                    <use class="icon" xlink:href="#icon-download"></use>
                </svg>
                {{downloads}}
            </p>
        </div>
    </div>
</a>
{{/each}}